{{ 'section-collection-list.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}

{%- style -%}
  {% for block in section.blocks %}
    #Card-{{ forloop.index0 }} {
      background-image: url('{{ block.settings.collection.featured_image | image_url: width: 600 }}');
    }
  {% endfor %}
{%- endstyle -%}

<div class="gradient">
  <div class="collection-list-wrapper isolate no-heading{% if section.settings.show_view_all == false or section.blocks.size > collections.size %} no-mobile-link{% endif %} section-{{ section.id }}-padding">
  
    <div class="collection-list collection-list--{{ section.blocks.size }}-items" role="list">
      {%- for block in section.blocks -%}
        {%- assign card_collection = block.settings.collection -%}
        <a href="{{ card_collection.url }}" id="Card-{{ forloop.index0 }}" 
          class="collection-list__item link"
          role="img" aria-label="{{ card_collection.title | escape }}"
          {{ block.shopify_attributes }}
        >
          <div class="collection-list__item-wrapper{% if section.settings.light_link_color %} light_card_link{% endif %}">
            <span class="card--text">{{ card_collection.title }}</span>
            {%- render 'icon-arrow' %}
          </div>
        </a>
      {%- endfor -%}
    </div>
  
    {%- if section.settings.show_view_all and section.blocks.size < collections.size -%}
      <div class="center collection-list-view-all">
        <a href="{{ routes.collections_url }}" class="button">{{ 'sections.collection_list.view_all' | t }}</a>
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.collection-list.name",
  "tag": "section",
  "class": "section section-collection-list",
  "max_blocks": 15,
  "settings": [
    {
      "type": "checkbox",
      "id": "light_link_color",
      "label": "Light color link",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "t:sections.collection-list.blocks.featured_collection.name",
      "limit": 2,
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collection-list.blocks.featured_collection.settings.collection.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection-list.presets.name",
      "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}

