{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{{ 'section-featured-product.css' | asset_url | stylesheet_tag }}
{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-rte.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-deferred-media.css' | asset_url }}" media="print" onload="this.media='all'">

{%- assign product = section.settings.product -%}
{%- liquid
  if section.settings.use_light_text 
    assign text_color = '#FFFFFF'
  else
    assign text_color = '#000000'
  endif
-%}

{%- style -%}
.product__info-wrapper {
  background-image: url("{{ product.featured_image | image_url }}");
  background-position: center;
  background-size: cover;
}

#ProductInfo-{{ section.id }} h2, 
#ProductInfo-{{ section.id }} .button, 
#ProductInfo-{{ section.id }} span {
  color: {{ text_color }}
}
{%- endstyle -%}

<section class="gradient">
  <div class="featured-product product grid grid--1-col gradient isolate{% if section.settings.use_light_text %} featured-product_dark-text{% endif %}">
    <div class="product__info-wrapper grid__item">
      <div id="ProductInfo-{{ section.id }}">
        {%- assign product_form_id = 'product-form-' | append: section.id -%}

        <h2 class="product__title" {{ block.shopify_attributes }}>
          {%- if product.title != blank -%}
              {{ product.title | escape }}
          {%- else -%}
              {{ 'onboarding.product_title' | t }}
          {%- endif -%}
        </h2>

        {%- if section.settings.text != blank -%}
          <p class="product__text{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}" {{ block.shopify_attributes }}>
            {{- block.settings.text -}}
          </p>
        {%- endif -%}

        {%- if section.settings.rating -%}
          {%- if product.metafields.reviews.rating.value != blank -%}
            {% liquid
              assign rating_decimal = 0
              assign decimal = product.metafields.reviews.rating.value.rating | modulo: 1
              if decimal >= 0.3 and decimal <= 0.7
              assign rating_decimal = 0.5
            elsif decimal > 0.7
              assign rating_decimal = 1
              endif
            %}
            <div class="rating" role="img" aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: product.metafields.reviews.rating.value, rating_max: product.metafields.reviews.rating.value.scale_max }}">
              <span aria-hidden="true" class="rating-star color-icon-{{ settings.accent_icons }}" style="--rating: {{ product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};"></span>
            </div>
            <p class="rating-text caption">
              <span aria-hidden="true">{{ product.metafields.reviews.rating.value }} / {{ product.metafields.reviews.rating.value.scale_max }}</span>
            </p>
            <p class="rating-count caption">
              <span aria-hidden="true">({{ product.metafields.reviews.rating_count }})</span>
              <span class="visually-hidden">{{ product.metafields.reviews.rating_count }} {{ "accessibility.total_reviews" | t }}</span>
            </p>
          {%- endif -%}
        {%- endif -%}

        {%- if section.settings.link_label != blank -%}
          <h3>
            <a class="button button--secondary" href="{{ product.url }}">
              {{ section.settings.link_label }}
              {% render 'icon-arrow' %}
            </a>
          </h3>
        {%- endif -%}
                        
      </div>
    </div>
  </div>
</section>

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

{%- liquid
  if product.selected_or_first_available_variant.featured_media
    assign seo_media = product.selected_or_first_available_variant.featured_media
  else
    assign seo_media = product.featured_media
  endif
-%}

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ request.origin | append: product.url | json }},
    {% if seo_media -%}
      {%- assign media_size = seo_media.preview_image.width | append: 'x' -%}
      "image": [
        {{ seo_media | img_url: media_size | prepend: "https:" | json }}
      ],
    {%- endif %}
    "description": {{ product.description | strip_html | json }},
    {% if product.selected_or_first_available_variant.sku != blank -%}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif %}
    "brand": {
      "@type": "Thing",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ request.origin | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return (msie > 0 || trident > 0);
    }

    if (!isIE()) return;
    const hiddenInput = document.querySelector('#{{ product_form_id }} input[name="id"]');
    const noScriptInputWrapper = document.createElement('div');
    const variantSwitcher = document.querySelector('variant-radios[data-section="{{ section.id }}"]') || document.querySelector('variant-selects[data-section="{{ section.id }}"]');
    noScriptInputWrapper.innerHTML = document.querySelector('.product-form__noscript-wrapper-{{ section.id }}').textContent;
    variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;

    document.querySelector('#Variants-{{ section.id }}').addEventListener('change', function(event) {
      hiddenInput.value = event.currentTarget.value;
    });
  });
</script>

{% schema %}
{
  "name": "t:sections.featured-product.name",
  "tag": "section",
  "class": "section section-featured-product",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "t:sections.featured-product.settings.product.label"
    },
    {
      "type": "text",
      "id": "link_label",
      "label": "Link label",
      "default": "Shop Now"
    },
    {
      "type": "checkbox",
      "id": "use_light_text",
      "label": "Use light text"
    },
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner image"
    },
    {
      "type": "text",
      "id": "banner_marquee",
      "label": "Banner marquee"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-product.presets.name"
    }
  ]
}
{% endschema %}
